<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column">
            <div class="col-12 d-flex justify-content-center company-name mt-2">
                <img src="/assets/images/ADMAX.jpg">
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <div class="col-4">
                    <form class="login-form mt-4">
                        <h1 class="login-font">Change password</h1>
                        <p class="new-passwd">Enter a new password below to change your password</p>
                        <div class="input-group d-flex flex-column mt-3">
                            <label for="password-text">New password</label>
                            <input type="password" id="password" name="password" class="input-box border ps-3 mt-2"
                                placeholder="infor@smrt" required>
                        </div>
                        <div class="input-group d-flex flex-column mt-3">
                            <label for="password-text">Confirm password</label>
                            <input type="password" id="password" name="password" class="input-box border ps-3 mt-2"
                                placeholder="infor@smrt" required>
                        </div>
                        <div class="input-group mt-5" routerLink="/login">
                            <button type="submit" class="submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>