<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex shadow justify-content-between">
      <div class="col-6 company-name">
        <img src="/assets/images/ADMAX.jpg">
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="d-flex justify-content-between">
          <div class="header-icons m-4"><img src="\assets\images\question-mark.jpg"></div>
          <div class="header-icons m-4"><img src="\assets\images\notification-symbol.jpg"></div>
          <div class="header-icons m-4"><img src="\assets\images\add-to-cart.jpg"></div>
          <div class="d-flex border rounded-pill justify-content-between m-2 p-1">
            <div class="profile-pic"><img src="\assets\images\profile-pic.jpg"></div>
            <!-- <div class="menu m-2 ps-2"><img src="\assets\images\menu.jpg"></div> -->
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><img src="\assets\images\menu.jpg" class="menu"></button>

            <div class="offcanvas offcanvas-start border-0" style="width: 280px;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
              <div class="offcanvas-header d-flex justify-content-between">
                <div class="profile-k">
                <img src="\assets\images\profile-k.jpg">
              </div>
                <button type="button" class="icon-close" data-bs-dismiss="offcanvas"> <i class="bi bi-arrow-right fs-3"></i></button>
               
              </div>
              <div class="offcanvas-body">
                <app-sidebar></app-sidebar>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>