.modal-dialog {
    max-width: 45vw;
    max-height: 400px;
    /* Adjust width as needed (e.g., 80% of the viewport width) */
}
#head-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;

}

.input-box {
    width: 280px;
    height: 58px;
    gap: 0px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    border-color: var(--lightsilver) !important;
    color: var(--neutralash);
}

.input-box:hover {
    border-color: var(--lightsilver) !important;
    color: var(--neutralash);
}

.custom-div {
    width: 280px !important;
    height: 78px;
    text-align: left;
    width: 100%;
}
.describe-text {
    border: 1px;
    border-color: var(--lightsilver);
    width: 581px;
height: 136px;

}
.description-text{
    font-family: Inter;
    top: 37px;
    color: var(--neutralash);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: left;
    
}

.create-btn {
    background-color: var(--orange);
    width: Hug (158px)px;
height: Hug (37px)px;
top: 440px;
left: 442px;
padding: 10px 20px 10px 20px;
gap: 10px;
border-radius: 4px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
text-align: left;
color: var(--white);
}