<div class="container-fluid">

  <body class="d-flex flex-column align-item-center">
    <div class="col-12 d-flex flex-column">
      <div class="col-12 d-flex justify-content-center company-name">
        <img src="/assets/images/ADMAX.jpg">
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="col-6 login-container bg-light">
          <form class="login-form mt-5">
            <h1 class="text-center welcome-back-text">Welcome back!</h1>
            <h2 class="login-font mt-4">Login</h2>
            <div class="input-group d-flex flex-column">
              <label for="email">Email ID</label>
              <input type="email" id="email" name="email" class="input-box p-3" placeholder="admin@filmscreen.com">
            </div>
            <div class="input-group d-flex flex-column">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="input-box p-3" placeholder="**********">
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <input type="checkbox" id="checkbox" class="check-box">
                <label for="checkbox" class="click-text ps-1">Remember Me</label>
              </div>
              <div>
                <a routerLink="/forgotpassword" class="navigate-text me-3">Forgot Password?</a>
              </div>
            </div>
            <div class="input-group mt-5" routerLink="/header">
              <button type="submit">Login</button>
            </div>
            <div class="inline-block mt-4 justify-content-center ps-5">
              <hr class="inline-hr">
              <p class="welcome-text pt-2">connect with us</p>
              <hr class="inline-hr">
            </div>
            <div class="d-flex justify-content-between mt-5">
              <div class="d-flex"><img src="/assets/images/google-icon.jpg" class="web-icon">
                <a href="https://WWW.google.co.in" class="icon-text pt-1">Steller AC</a>
              </div>
              <div class="d-flex"><img src="/assets/images/Facebook-logo.jpg" class="web-icon">
                <a href="https://WWW.google.co.in" class="icon-text pt-1">Steller AC</a>
              </div>
              <div class="d-flex"><img src="/assets/images/Instagram-logo.jpg" class="web-icon">
                <a href="https://WWW.google.co.in" class="icon-text pt-1">Steller AC</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</div>