
<div class="list-group">
    <a class="list-group-item list-group-item-action d-flex mx-auto my-2 border-0 rounded p-2  ps-4"
        routerLink="/dashboard" data-bs-toggle="list">
        <i class="bi bi-grid text-dark fs-5 pe-2"></i>
        <p class="name-list pt-1">Dashboard</p>
    </a>
    <a class="list-group-item list-group-item-action d-flex mx-auto my-2 border-0 rounded p-2  ps-4"
        routerLink="/myclients" data-bs-toggle="list">
        <i class="bi bi-people text-dark fs-5 pe-2"></i>
        <p class="name-list pt-1">My Clients</p> 
    </a>
    <a class="list-group-item list-group-item-action  d-flex mx-auto my-2 border-0 rounded p-2  ps-4"
        routerLink="/inventory" data-bs-toggle="list">
        <i class="bi bi-journal-check text-dark fs-5 pe-2"></i>
        <p class="name-list pt-1"> Inventory</p>
    </a>
    <a class="list-group-item list-group-item-action d-flex mx-auto my-2 border-0 rounded p-2  ps-4"
        routerLink="/reports" data-bs-toggle="list">
        <i class="bi bi-file-earmark-check text-dark fs-5 pe-2"></i>
        <p class="name-list pt-1">Reports</p>
    </a>
    <a class="list-group-item list-group-item-action d-flex mx-auto my-2 border-0 rounded p-2  ps-4"
        routerLink="/settings" data-bs-toggle="list">
        <i class="bi bi-gear text-dark fs-5 pe-2"></i>
        <p class="name-list pt-1">Settings</p>
    </a>
</div>