<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-column">
            <div class="col-12 d-flex justify-content-center company-name">
                <img src="/assets/images/ADMAX.jpg">
            </div>
            <div class="col-12 d-flex justify-content-center align-item-center mt-5">
                <div class="col-4 form-box">
                    <h1 class="col-12 forget-password">Forget Password</h1>
                    <p class="col-12 mt-2 reset-font">No warries! Enter your E-mail and we will send you a reset</p>
                    <div class="col-12 input-group d-flex flex-column mt-4">
                        <label for="email" class="mail-text">Email ID</label>
                        <input type="email" id="email" name="email" class="input-box border ps-3 mt-2" placeholder="admin@filmscreen.com">
                    </div>
                    <div class="col-12 input-group mt-3">
                        <button type="submit" routerLink="/backtologin" class="submit-btn mt-4">Submit</button>
                    </div>
                    <div class="back-to-login" routerLink="/login">
                        <button class="back-login d-flex mt-3 ">
                            <img src="\assets\images\Vector.jpg" class="p-2"><p class="ps-4">Back to login</p></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>