* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
}
.form-box{
    filter: #000000 blur(5%);
    box-shadow: 2px 4px 16px 0px #0000001A; /* Example with 26% opacity */

}

.company-name {
    width: Hug (246.74px)px;
    height: Hug (74.4px)px;
    top: 42px;
    left: 597px;
    padding: 20px 0px 0px 0px;
    gap: 2px;
    opacity: 0px;

}

.forget-password {
    font-size: 24px;
    font-weight: 600;
    line-height: 30.12px;
    text-align: left;

}

.reset-font {
    font-size: 12px;
    font-weight: 500;
    line-height: 15.06px;
    text-align: left;
    color: var(--darkblue);

}

.mail-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    text-align: left;
    color: var(--black);
}

.input-group input {
    width: 384px;
    height: 62px;
    left: 95px;
    border: 1px;
    border-radius: 50px !important;
    border-color: var(--softgrey) !important;
}

.submit-btn {
    width: 384px;
    height: 62px;
    top: 286px;
    left: 95px;
    border-radius: 44px !important;
    border: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--orange);
    font-size: 20px;
    font-weight: 700;
    line-height: 25.1px;
    text-align: center;

}

.submit-btn:hover {
    background-color: var(--orange);
}

.back-login {
    border: none;
    margin-left: 100px;
    color: var(--orange);
}