<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-column">
            <div class="col-12 d-flex justify-content-center company-name mt-2">
                <img src="/assets/images/ADMAX.jpg">
            </div>
            <div class="col-12 d-flex justify-content-center box-border mt-5">
                <div class="col-4 mt-3">
                    <img src="\assets\images\check-circle.jpg">
                    <h2 class="reset-font mt-3">Reset Link Send on Email ID</h2>
                    <p class="col-8 mail-font">
                        The password reset link has been sent to your email. If you didn’t receive the password reset link, try to sign in with social login.
                    </p>
                    <div class="input-group mt-5" routerLink="/changepassword">
                        <button type="submit" class="login-btn">Back to login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>